
header{
  background-color: #2A2A2A;
  background-color: #444343;
    padding: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
}

nav img{
    width: 90px;
    border-radius: 50%;
}

.navigation{
    display: flex;
    gap: 98px;
    padding-right: 72px;
}
.nav-item i{
    padding-right: 12px;
    color: #00C1EC;
}

.link{
    color: #E4E4E4;
    font-size: 24px;
}

.active{
    font-size: 30px;
    color: white;
    padding-bottom: 4px;
}


.top-content i{
    display: none;
}

.hiden{
    display: none;
}
@media screen AND (max-width: 1200px) {
    nav{
        flex-direction: column;
    }
    nav img{
        width: 200px;
        padding: 24px 0px;
    }
   
    .navigation{
        justify-content: space-around;
        gap: 48px;
    }
}

@media screen AND (max-width: 600px) {
    .top-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    .top-content i{
        display: block;
        font-size: 28px;
        color: white;
    }
    nav img{
        width: 100px;
    }
    .nav-item i{
       display: none;
    }
    
    .active{
        font-size: 34px;
    }
    .navigation{
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        padding-left: 72px;
        
    }
}