@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.hero{
    height: 100vh;
    background: url('../../../public/images/Ellips2.png') no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
     letter-spacing: 1.4px;
}

.info-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    padding-left: 24px;
}

.title{
    color: #e2a200;
    font-size: 28px;
}
.title2{
    color: #00c4f0;
    font-size: 30px;
    padding-bottom: 24px;
}

.info{
    width: 50%;
    color: #e2a200;
    font-size: 22px;
}

.info span{
    color: #00c4f0;
}

@media screen AND (max-width: 1300px) {
    .hero{
       background-size: cover;
    }
    
    .info-container{
        padding: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
   
}



